.dock-wrapper {
    position : absolute;
    left : 0;
    right : 0;
    bottom : 0;
    display : flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #1d1d1f;
}
.dock {
    display : flex;
}

.dock-icon{
    width: 56px;
    height: 56px;
    color: #f1f1f7;
    margin: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center bottom;
    background: transparent;
    border: none;

}

.dock-icon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.dock.animated .dock-icon {
    transition: .1s;
    transition-property: transform, transform-origin;
}